@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.body{
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 0;
  font-family: '';
  font-family: "Inter", sans-serif;

}

.App{
  font-family: "Inter", sans-serif;
}